In [5]:
def say_hello():
    print("hello there")
    print("how are you")

In [3]:
say_hello()

hello there
how are you

In [7]:
def filter_even(number_list):
    result_list = []
    for number in number_list:
        if number%2 ==0:
            result_list.append(number)
    return result_list

In [14]:
even_list = filter_even([1,2,3,4,5,7,8,9,10])
print(even_list)

[2, 4, 8, 10]

In [18]:
def filter_odd(jeet):
    result = []
    for number in jeet:
        if number%2 !=0:
            result.append(number)
    return result

In [20]:
my_list = filter_odd([1,2,3,4,5,6,7,8,9,10])
print(my_list)

[1, 3, 5, 7, 9]

In [21]:
import os

In [22]:
os.getcwd()

'C:\\Users\\JEET'

In [23]:
help(os.listdir)

Help on built-in function listdir in module nt:

listdir(path=None)
    Return a list containing the names of the files in the directory.

    path can be specified as either str, bytes, or a path-like object.  If path is bytes,
      the filenames returned will also be bytes; in all other circumstances
      the filenames returned will be str.
    If path is None, uses the path='.'.
    On some platforms, path may also be specified as an open file descriptor;\
      the file descriptor must refer to a directory.
      If this functionality is unavailable, using it raises NotImplementedError.

    The list is in arbitrary order.  It does not include the special
    entries '.' and '..' even if they are present in the directory.

In [24]:
os.listdir('.')

['.android',
 '.idlerc',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.thumbnails',
 'anaconda3',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my python coding.ipynb',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{77a2c7ed-26f0-11e5-80da-e41d2d741090}.TM.blf',
 'NTUSER.DAT{77a2c7ed-26f0-11e5-80da-e41d2d741090}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{77a2c7ed-26f0-11e5-80da-e41d2d741090}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'student detail.ipynb',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Videos']

In [27]:
os.listdir('desktop')

['.a',
 'Anita das',
 'Ashika-Ranganath-31.jpg',
 'Ashika-Ranganath-31565.jpg',
 'blender',
 'blender-2.91.0-windows64',
 'blender-2.91.0-windows64.zip',
 'COINDCX.txt',
 'desktop.ini',
 'document',
 'General-Awareness-Capsule-for-RRB-NTPC-2020-21-Exam.pdf',
 'Google Chrome.lnk',
 'IDLE (Python 3.9 64-bit).lnk',
 'Inglourious Basterds 2009 720p BDRip [Dual Audio] [DD 2.0 Hindi-5.1 Eng] Invincible',
 'mesa3d-20.2.0-release-msvc',
 'Microsoft Excel 2010.lnk',
 'New folder',
 'New Text Document (2).txt',
 'New Text Document (3).txt',
 'New Text Document (7).txt',
 'New Text Document (8).txt',
 'New Text Document.txt',
 'SketchUpPro-2021-0-1',
 'SketchUpPro-2021-0-1.dmg',
 'wikipedia new codig.txt',
 'wikipedia.txt',
 'world by population.txt']

In [28]:
os.makedirs('./data',exist_ok=True)

In [29]:
'data' in os.listdir('.')

True

In [30]:
os.listdir('./data')

[]

In [31]:
os.listdir('data')

[]

In [32]:
def loan_emi(amount):
    emi = amount/12
    print('The EMI is ${}'.format(emi))

In [33]:
loan_emi(1260000)

The EMI is $105000.0

In [38]:
def loan_emi(amount,duration):
    emi = amount/duration
    print('the EMI is ${}'.format(emi))

In [40]:
loan_emi(120000,12)

the EMI is $10000.0

In [47]:
emi1 = loan_emi(150000,12)

the EMI is $12500.0

In [48]:
emi2 = loan_emi(250000,24)

the EMI is $10416.666666666666

In [59]:
def loan_emi(amount ,duration ,down_payment=0):
    loan_amount=amount-down_payment
    emi = loan_amount/duration
    return emi

In [60]:
loan_emi(500000,12,100000)

33333.333333333336

In [63]:
def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount=amount-down_payment
    x=loan_amount*rate*(1+rate)**duration
    y=(1+rate)**duration-1
    z=x/y
    return z

In [64]:
loan_emi(1260000,8*12,0.10/12,300000)

14567.19753389219

In [66]:
loan_emi(1260000,10*12,0.08/12)

15287.276888775077

In [67]:
import math

In [68]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [69]:
math.ceil(1.5)

2

In [15]:
def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount=amount-down_payment
    x=loan_amount*rate*(1+rate)**duration
    y=(1+rate)**duration-1
    z=x/y
    return z

In [16]:
loan_emi(1260000,10*12,0.08/12,120000)

13831.345756510786

In [77]:
emi1= loan_emi(
amount=12600000,
duration=10*12,
rate=0.10/12,
down_payment=300000
)

In [78]:
emi2= loan_emi(
amount=5000000,
duration=10*12,
rate=0.10/12,
down_payment=300000
)

In [79]:
if emi1>emi2:
    print("emi2 has the lowest EMI: ${}".format(emi1) )
else:
     print("emi1 has the lowest EMI: ${}".format(emi2) )

emi2 has the lowest EMI: $162546

In [81]:
cost_of_house =800000
home_loan_duration=6*12
home_loan_rate=0.07/12
home_down_payment=0.25*800000
emi_house=loan_emi(amount=cost_of_house,
                  duration=home_loan_duration,
                  rate=home_loan_rate,
                  down_payment=home_down_payment)
emi_house

10230

In [2]:
def cost_calculate(return_flight,hotel_per_day,weekly_car_rental):
    cost=return_flight+hotel_per_day+weekly_car_rental
    return cost

In [15]:
paris=cost_calculate(200,20,800)
london=cost_calculate(250,30,1120)
dubai=cost_calculate(370,15,800)
mumbai=cost_calculate(450,10,9000)

In [20]:
if paris>mumbai:
    print("paris is more costly ${}".format(paris) )
elif london>dubai:
        print("london is more costly ${}".format(london) )
elif dubai>mumbai:
        print("dubai is more costly")
else:
    print("mumbai is more costly")

london is more costly $1400

In [18]:
paris

1020

In [17]:
import os

In [18]:
os.listdir('.\Downloads\data')

['jeet.txt']

In [20]:
file1 = open('.\Downloads\data\jeet.txt', mode='r')

In [22]:
file1_contents =file1.read()

In [23]:
print(file1_contents)

amount,duration,rate,down_payment
100000,36,0.08,20000
200000,12,0.1
628400,120,0.12,100000
4637400,240,0.06
42900,90,0.07,8900
91600,16,0.13
45230,48,0.08,4300
991360,99,0.08
423000,27,0.09,47200

In [25]:
def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount=amount-down_payment
    try:
        emi=loan_amount*rate*(1+rate)**duration/(((1+rate)**duration-1))
    except ZeroDivisionErrors:
        emi=loan_amount/duration
    return emi

In [40]:
def parse_header(header_line):
    return header_line.strip().split(',')

In [41]:
file1_contents[0]

'a'

In [34]:
def create_item_dict(values,headers):
    result={}
    for value,header in zip (values,headers):
        result[header]=value
        return result

In [35]:
def read_csv(path):
    result=[]
    with open(path,'r') as f:
        lines=f.readlines()
        header = parse_headers(lines[0])
        for data_line in lines[1:]:
            values=parse_values(data_line)
            item_dict=create_item_dict(values,headers)
            result.append(item_dict)
        return result

In [13]:
def parse_headers(header_line):
    return header_line.strip().split(',')
def parse_values(data_line):
    values =[]
    for item in data_line.strip().split(','):
        if item =='':
            values.append(0.0)
        else:
            values.append(float(item))
    return values
def create_item_dict(values,headers):
    result={}
    for value,header in zip (values,headers):
        result[header]=value
    return result
def read_csv(path):
    result=[]
    with open(path,'r') as f:
        lines=f.readlines()
        headers = parse_headers(lines[0])
        for data_line in lines[1:]:
            values=parse_values(data_line)
            item_dict=create_item_dict(values,headers)
            result.append(item_dict)
        return result

In [14]:
read_csv('.\Downloads\data\jeet.txt')

[{'amount': 100000.0, 'duration': 36.0, 'rate': 0.08, 'down_payment': 20000.0},
 {'amount': 200000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 4637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 91600.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 45230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 423000.0, 'duration': 27.0, 'rate': 0.09, 'down_payment': 47200.0}]

In [15]:
import math
def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount=amount - down_payment
    try:
        emi=loan_amount*rate*(1+rate)**duration/(((1+rate)**duration-1))
    except ZeroDivisionErrors:
        emi=loan_amount/duration
    emi = math.ceil(emi)
    return emi

In [16]:
loan1= read_csv('.\Downloads\data\jeet.txt')

In [17]:
loan1

[{'amount': 100000.0, 'duration': 36.0, 'rate': 0.08, 'down_payment': 20000.0},
 {'amount': 200000.0, 'duration': 12.0, 'rate': 0.1, 'down_payment': 0.0},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0},
 {'amount': 4637400.0, 'duration': 240.0, 'rate': 0.06, 'down_payment': 0.0},
 {'amount': 42900.0, 'duration': 90.0, 'rate': 0.07, 'down_payment': 8900.0},
 {'amount': 91600.0, 'duration': 16.0, 'rate': 0.13, 'down_payment': 0.0},
 {'amount': 45230.0, 'duration': 48.0, 'rate': 0.08, 'down_payment': 4300.0},
 {'amount': 991360.0, 'duration': 99.0, 'rate': 0.08, 'down_payment': 0.0},
 {'amount': 423000.0, 'duration': 27.0, 'rate': 0.09, 'down_payment': 47200.0}]

In [44]:
def compute_emis(loan1):
    for loan in loan1:
        loan['emi']= loan_emi(loan['amount'],loan['duration'],loan['rate']/12)

In [39]:
loan_emi(1260000,10*12,0.08/12,120000)

13832

In [20]:
loan1

[{'amount': 100000.0,
  'duration': 36.0,
  'rate': 0.08,
  'down_payment': 20000.0,
  'emi': 3134},
 {'amount': 200000.0,
  'duration': 12.0,
  'rate': 0.1,
  'down_payment': 0.0,
  'emi': 17584},
 {'amount': 628400.0,
  'duration': 120.0,
  'rate': 0.12,
  'down_payment': 100000.0,
  'emi': 9016},
 {'amount': 4637400.0,
  'duration': 240.0,
  'rate': 0.06,
  'down_payment': 0.0,
  'emi': 33224},
 {'amount': 42900.0,
  'duration': 90.0,
  'rate': 0.07,
  'down_payment': 8900.0,
  'emi': 615},
 {'amount': 91600.0,
  'duration': 16.0,
  'rate': 0.13,
  'down_payment': 0.0,
  'emi': 6267},
 {'amount': 45230.0,
  'duration': 48.0,
  'rate': 0.08,
  'down_payment': 4300.0,
  'emi': 1105},
 {'amount': 991360.0,
  'duration': 99.0,
  'rate': 0.08,
  'down_payment': 0.0,
  'emi': 13712},
 {'amount': 423000.0,
  'duration': 27.0,
  'rate': 0.09,
  'down_payment': 47200.0,
  'emi': 17365}]

In [21]:
import os

In [22]:
file2=open('.\downloads\data\mylove1.txt',mode='r')

In [23]:
z = file2.read()

In [24]:
print (z)

a,b,c,d,e
230,20,21,012,200
2300,4884,484,215,51
145,151,141,151,85
454,4521,2144,544,54

In [25]:
def total(a,b,c,d,e):
    values=a+b+c+d+e
    return values

In [26]:
x=total(5,7,8,5,1)

In [27]:
print(x)

26

In [28]:
total1=read_csv('.\Downloads\data\mylove1.txt')

In [29]:
print(total1)

[{'a': 230.0, 'b': 20.0, 'c': 21.0, 'd': 12.0, 'e': 200.0}, {'a': 2300.0, 'b': 4884.0, 'c': 484.0, 'd': 215.0, 'e': 51.0}, {'a': 145.0, 'b': 151.0, 'c': 141.0, 'd': 151.0, 'e': 85.0}, {'a': 454.0, 'b': 4521.0, 'c': 2144.0, 'd': 544.0, 'e': 54.0}]

In [34]:
for loan in total1:
    
    loan['total'] = total(loan['a'],loan['b'],loan['c'],loan['d'],loan['e'])

In [35]:
total1

[{'a': 230.0,
  'b': 20.0,
  'c': 21.0,
  'd': 12.0,
  'e': 200.0,
  'f': 483.0,
  'total': 483.0},
 {'a': 2300.0,
  'b': 4884.0,
  'c': 484.0,
  'd': 215.0,
  'e': 51.0,
  'f': 7934.0,
  'total': 7934.0},
 {'a': 145.0,
  'b': 151.0,
  'c': 141.0,
  'd': 151.0,
  'e': 85.0,
  'f': 673.0,
  'total': 673.0},
 {'a': 454.0,
  'b': 4521.0,
  'c': 2144.0,
  'd': 544.0,
  'e': 54.0,
  'f': 7717.0,
  'total': 7717.0}]

In [40]:
def write_csv(items,path):
    with open(path,'w') as f:
        if len(items)==0:
            return
        headers=list(items[0].key())
        f.write(','.join(header)+"\n")
        for item in items:
            values=[]
            for header in headers:
                value.apend(str(item.get(header,"")))
            f.write(','.join(values)+"\n")