In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
data=np.array([['','col1','col2'],
              ['row1',1,2],
              ['row2',3,4]])

In [8]:
data

array([['', 'col1', 'col2'],
       ['row1', '1', '2'],
       ['row2', '3', '4']], dtype='<U4')

In [22]:
print(pd.DataFrame(data=data[1:,1:],
                   #index=data[1:,0],
                   columns=data[0,1:]
                  ))

  col1 col2
0    1    2
1    3    4

In [ ]:
print(pd.DataFrame(data=data[1:,1:],
                  index=data[1:,0],
                  columns=data[0,1:]))

In [28]:
data2=np.array([['','jeet','anjali'],
                ['jeet',1,2],
                ['anjali',3,4]])

In [46]:
print(pd.DataFrame(data=data2[1:,1:],
                   index=data2[1:,0],
                   columns=data2[0,1:]))

       jeet anjali
jeet      1      2
anjali    3      4

In [47]:
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])

In [48]:
my_2darray

array([[1, 2, 3],
       [4, 5, 6]])

In [49]:
my_dict = {1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}

In [50]:
my_dict

{1: ['1', '3'], 2: ['1', '2'], 3: ['2', '4']}

In [60]:
my_df = pd.DataFrame(data=[4,5,6,7], index=range(0,4), columns=['my_column'])

In [61]:
my_df

   my_column
0          4
1          5
2          6
3          7

In [66]:
my_series = pd.Series({"Belgium":"Brussels", "India":"New Delhi", "United Kingdom":"London", "United States":"Washington"})

In [67]:
my_series

Belgium             Brussels
India              New Delhi
United Kingdom        London
United States     Washington
dtype: object

In [68]:
df = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6]]))

In [69]:
df

   0  1  2
0  1  2  3
1  4  5  6

In [1]:
kanto=[73,67,43]

In [2]:
w1,w2,w3=0.3,0.2,0.5
weights = [w1,w2,w3]

In [9]:
for item in zip(weights,kanto):
     print(item)

(0.3, 73)
(0.2, 67)
(0.5, 43)

In [8]:
for item in zip(kanto,weights):
    print (item)

(73, 0.3)
(67, 0.2)
(43, 0.5)

In [18]:
def crop_yield(region,weights):
    result=0
    for x,y in zip(region,weights):
        result=result+x*y
    return result

In [19]:
crop_yield(kanto,weights)

56.8

In [20]:
import numpy as np

In [21]:
kanto=np.array([73,67,43])

In [22]:
weights=np.array([0.3,0.2,0.5])

In [23]:
yield_of_apples=kanto*weights

In [26]:
yield_of_apples.sum()

56.8

In [29]:
arr1=list(range(100,200))

In [44]:
def math_cal(p,r,t):
    result=p
    result=result+p*r*t
    return result

In [46]:
math_cal(10000,0.10,2)

12000.0